* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  color: #202124;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  margin-top: 20px;
  width: 200px;
}
nav div:last-child {
  width: 250px;
}
.about-google {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.about-user {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

img {
  margin-top: 100px;
}

form {
  margin-top: 20px;
}
form input {
  margin-bottom: 20px;
  width: 500px;
  height: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  background: #fff;
}

button {
  margin-left: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.footer-container {
  color: #70757a;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dadce0;
}

footer .footer-container:first-child {
  padding: 20px 20px;
  text-align: left;
}
footer .footer-container:last-child {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.left-side {
  width: 300px;
}

.right-side {
  width: 300px;
}

.left-side ul {
  display: flex;
  justify-content: space-around;
}

.right-side ul {
  display: flex;
  justify-content: space-around;
}

footer {
  margin-top: 190px;
}

a {
  text-decoration: none;
  color: #202124;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  border: 1px solid #dadce0;
